 
{% extends 'base.html' %}

{% block title %}Add Property - Rentify{% endblock %}

{% block content %}
    <h1>Add Property</h1>
    <form action="{{ url_for('add_property') }}" method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.location.label }}
            {{ form.location() }}
        </div>
        <div>
            {{ form.area.label }}
            {{ form.area() }}
        </div>
        <div>
            {{ form.bedrooms.label }}
            {{ form.bedrooms() }}
        </div>
        <div>
            {{ form.bathrooms.label }}
            {{ form.bathrooms() }}
        </div>
        <div>
            {{ form.amenities.label }}
            {{ form.amenities() }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}
